{{ define "main" }}
    <main aria-role="main">
      <div class="homepage-content">
        <div class="border rounded mb-4 p-3">
          {{.Content}}
        </div>
      </div>
      <div class="recent-post">
        <ol class="list-group list-group-numbered">
          {{ range ( where .Site.RegularPages "Type" "posts" | first 10 ) }}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="recent-post-detail ms-2 me-auto">
                <div class="fw-bold">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </div>
                {{ .Description }}
              </div>
            </li>
          {{end}}
        </ol>
      </div>
    </main>
{{ end }}
